span{
    border-left: 1px solid black;
    padding-right: 5px;
    
}
span:nth-child(3)
{
 padding-right: 16.33px;
}
span:nth-child(4),
span:nth-child(5),
span:nth-child(6),
span:nth-child(7){
 padding-right: 8.33px;
}

#termometer{
  width: 250px;
}
#termometer-indicator{
    background-color: white;


    
}
#temperature-input{
    width: 219px;
}
button{
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 50px;

    width: 100px;
    height: 30px;
}
.center{
    margin-left: 100px;
    margin-top: 200px;
   

}